<a href="https://colab.research.google.com/github/AlanaAnnaman/winter22/blob/main/Lesson_4_assignment_%E2%80%93_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Create a list that holds 5 data variables. 
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
print(alana)

['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']

In [10]:
#Print out those variables by using a for loop.
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
for x in alana:
  print(x)

fruits
LV
Prada
Chanel
Jcrew

In [14]:
#Modify your for loop to add a message to your for loop.
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
for x in alana: 
  print(x.title() + " are my fave things")

Fruits are my fave things
Lv are my fave things
Prada are my fave things
Chanel are my fave things
Jcrew are my fave things

In [18]:
#Use a for loop to print even numbers from 1-20.

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for x in l:
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

In [20]:
#Sort your list in alphabetic order.
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
alana.sort()
print(alana)

['Chanel', 'Jcrew', 'LV', 'Prada', 'fruits']

In [26]:
#Print out the first three elements of your list.
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
for x in alana: 
print(alana[1])
print(alana[2])

fruits
LV
Prada

In [33]:
#Create a loop to print the last 2 elements of your list.
alana = ['fruits', 'LV', 'Prada', 'Chanel', 'Jcrew']
for x in alana: 
  print(x[3:])

its

da
nel
ew